.image-component-container {
  overflow: hidden;
  position: relative;
  margin: auto;
  margin-bottom: 0.5rem;

  .image-component__img {
    cursor: pointer;
    object-fit: cover;
    display: inline-block;

    transform-origin: 0 0;
    transition: transform 1s, visibility 1s ease-in;

    &:hover {
      transform: scale(1.05);
    }
  }

  @media only screen and (max-width: 770px) {
    .image-component__img {
      margin: 0.625rem 0;
    }
  }
}
