@import "../../globalStyleVariables.scss";

.dashboard {
  // background: $dashboard-background;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0.625rem 0;

  .dashboard__search-term {
    margin: 0 1rem 1rem 1rem;
    padding: 0 5rem;

    .search-term__keyword {
      text-transform: capitalize;
    }
  }
  .dashboard__image-container {
    margin: 0 1rem 1rem 1rem;
    padding: 3rem;
    column-gap: 0.5rem;
  }
}

.dashboard__error-message {
  min-height: 18.75rem;
}

@media only screen and (max-width: 770px) {
  .dashboard {
    .dashboard__image-container,
    .dashboard__search-term {
      padding: 0.625rem 0rem;
    }

    .dashboard__image-container {
      img {
        margin: 0.625rem 0;
      }
    }
  }
}
