@import "../../globalStyleVariables.scss";

.banner_container {
  width: 100%;
  border-radius: 0;
  text-align: center;

  .navbar {
    .navbar-brand {
      color: $color-white;
      .splash {
        font-family: "Gruppo", cursive;
      }
    }

    .form-container__banner {
      .banner__text-input {
        background: transparent;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid $color-white;
        color: $color-white;
        margin-bottom: 0;
      }
      .sidebar__submit-action {
        border-color: $color-white;
        color: $color-white;
        padding: 0.375rem 2rem;
        border-radius: 0;
        font-family: "Roboto", sans-serif;
        letter-spacing: 0.03cm;
        margin-left: 1.25rem;

        &:hover {
          background: transparent;
        }
      }
    }
  }

  .jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 3rem;
    border-radius: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../assets/images/mountain.jpg") center center;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
    color: $color-white;
    height: 100vh;

    .jumbotron-content {
      padding: 0 4rem;
      width: 60%;
      text-align: left;
      h1 {
        font-size: 4rem;
        font-family: "Lalezar", cursive;
      }

      .content-description {
        font-family: "Roboto", sans-serif;
        font-size: 1.2rem;

        span {
          cursor: pointer;
        }
      }
    }

    .scroll-btn {
      cursor: pointer;
      width: 100px;
      align-self: center;
      .btn-text {
        transition: all 0.2s ease-in-out;
        &:hover {
          transform: scale(1.1);
          transition-duration: 0.3s;
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    .navbar {
      justify-content: center;
      .navbar-brand {
        margin: 0;
        font-size: 2rem;
      }

      .form-container__banner {
        justify-content: center;
        margin: 2rem 0 1rem 0;

        .banner__text-input {
          width: 100%;
        }
        .sidebar__submit-action {
          margin: 0;
          margin-top: 0.625rem;
          width: 100%;
        }
      }
    }
    .jumbotron {
      height: 100%;
      padding: 1rem 0;
      .jumbotron-content {
        margin: 0;
        width: 100%;
        padding: 0 2rem;

        h1 {
          font-size: 2.5rem;
        }

        .content-description {
          font-size: 1rem;
        }
      }
      .scroll-btn {
        margin-top: 3rem;
      }
    }
  }
}
